.select-list {
  width: 200px;
  float: right;
  margin: 5px 0;
}

@media (max-width: 1199px) {
  .select-list {
    float: right;
  }
}

@media (max-width: 767px) {
  .select-list {
    width: 100%;
    float: left;
  }
}
