.lose {
  color: #d25454;
}

.win {
  color: #009700;
}

.draw {
  color: #c2c21f;
}

.fixed {
  table-layout: fixed;
}

.options {
  justify-content: space-between;
  display: flex;
  padding: 0 70px;
}

@media (max-width: 1199px) {
  .options {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .options {
    display: inline-block;
    width: 100%;
  }
}

.split {
  font-weight: bold;
}

.space {
  margin-top: 60px;
}
