.lose {
  color: #d25454;
  font-weight: bold;
}

.win {
  color: #009700;
  font-weight: bold;
}

.draw {
  color: #c2c21f;
  font-weight: bold;
}

.fixed {
  table-layout: fixed;
}

.options {
  justify-content: space-between;
  display: flex;
}

@media (max-width: 767px) {
  .options {
    display: inline-block;
    width: 100%;
    padding: 15px;
  }
}
