.link {
  font-size: 18px;
  color: white !important;
  font-weight: bold;
}

.link:hover,
.link:visited {
  text-decoration: none;
}

.link:hover {
  color: #324960 !important;
}

.link-header {
  pointer-events: none;
}

.rs-navbar {
  background-color: #6897bb !important;
}
