.rs-nav-item-content {
  font-size: 18px !important;
  color: white !important;
  font-weight: bold;
}

.rs-nav-item-content:hover,
.rs-nav-item-content:visited {
  text-decoration: none;
}

.rs-nav-item-content:hover {
  color: #324960 !important;
}

.link-header {
  pointer-events: none;
}

.rs-navbar {
  background-color: #6897bb !important;
  color: white !important;
  position: fixed;
  width: 100%;
  top: 0;
}
