#title {
  text-align: center;
  font-family: arial, sans-serif;
  /* font-weight: bold; */
}

#table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid rgb(221, 221, 221);
  width: 100%;
  table-layout: fixed;
}

#table td,
#table th {
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.row-hover:hover {
  background-color: rgba(221, 221, 221, 0.377);
  cursor: pointer;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #7d8dd8;
  color: white;
}

.split {
  font-weight: bold;
  font-size: large;
}

.table-fixed {
  table-layout: fixed;
}
